<div class="container p-5" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-5 mx-auto shadow mb-5 b">
            <h1 class="text-center">Registrar nuevos productos</h1>
            <form action="" #f="ngForm">
                <div class="form-group mb-3">
                    <label for="nombre" class="form-label">Nombre del producto</label>
                    <input type="text" name="nombre" id="nombre" 
                    class="form-control" [(ngModel)]="producto.nombre" required>
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Precio del producto</label>
                    <input type="text" name="precio" id="precio" 
                    class="form-control" [(ngModel)]="producto.precio" required>
                </div>
                <div class="form-group ">
                    <button style="background-color: rgb(241, 52, 5);" 
                    class="btn text-white d-block m-4 mx-auto"
                    (click)="onCreate()"
                    [disabled]="f.invalid">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>