<div class="container w-50 mt-4">
    <div class="card shadow">
        <div class="card-header">
            <img src="/assets/log.png" alt="" width="100px " class="d-block mx-auto">
            <div class="card-body">
                <form action="" class="w-75 mx-auto text-uppercase " #f="ngForm">
                    <div class="form-group mb-3">
                        <label for="documento"><strong>Documento</strong></label>
                        <input type="text" name="documento" id="documento" class="form-control"
                            [(ngModel)]="usuario.documento" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="nombre"><strong>nombre</strong></label>
                        <input type="text" name="nombre" id="nombre" class="form-control"
                            [(ngModel)]="usuario.nombre" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="documento"><strong>apellido</strong></label>
                        <input type="text" name="apellido" id="apellido" class="form-control"
                            [(ngModel)]="usuario.apellido" required>
                    </div>
                    <div class="form-group ">
                        <button style="background-color: rgb(241, 52, 5);" 
                        class="btn text-white d-block m-4 mx-auto"
                        (click)="onUpdateUser()"
                        [disabled]="f.invalid">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>